 #img {
    display: flex; align-items: center; justify-content: center;
  }
  h1{
    max-width: 40vw;
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
    padding: 50px;
    border: 6px solid black;
    font-size: 35px;
  }
  h2{
    max-width: 40vw;
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
    padding: 50px;
    border: 6px solid black;
    font-size: 25px;
  }
  .dwight {
    transform: scale(.7)
  }
  #footer {
    position: fixed;
    justify-content: space-between;
    width: 97%;
    bottom: 10px;
    margin: 0;
    padding: 0 20px;
    color: #aaa;
    font-family: Helvetica, sans-serif;
  }

  #footer a {
    color: #222;
    text-decoration: none;
  }

  #footer a:hover {
    text-decoration: underline;
  }

  #footer a:visited {
    color: #222;
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #151619;
    }

    h1,h2,h3,h4,h5,h6 {
      color: #ccc;
      border-color: #aaa;
    }

    #footer a {
      color: #ccc;
    }

    #footer a:visited {
      color: #ccc;
    }
  }